<section
  id="experience"
  class="py-[90px] bg-[100px_100px] w-full h-full overflow-hidden relative"
>
  <div class="max-w-[1170px] mx-auto px-3">
    <div class="flex items-center justify-between">
      <div>
        <div
          class="text-[1.25rem] font-medium text-[#56DFCF] mb-2.5 flex items-center"
        >
          <span class="mr-2 max-w-[32px]">
            <img
              src="../../../../assets/images/labels/star.png"
              alt="star icon"
            />
          </span>
          Skill
        </div>
        <h2
          class="mb-5 text-capitalize text-[#FBFFED] text-[3rem] font-semibold"
        >
          My <span class="text-[#F72C5B]">Experience</span>
        </h2>
      </div>
      <div>
        <app-button href="#contact" className="!rounded-full">
          Contact me
        </app-button>
      </div>
    </div>
    <div class="relative">
      <div class="flex flex-wrap -mx-6 -mt-12">
        <div class="w-full px-6 mt-12" *ngFor="let experience of experiences">
          <div
            class="group gap-[40px] flex items-center justify-between flex-wrap"
          >
            <div class="w-[180px] relative">
              <p class="text-[rgb(159,_160,_166)] mb-4">
                {{ experience.startDate }} to
                {{ experience.isCurrent ? "Present" : experience.endDate }}
              </p>
              <h6
                class="text-[1.125rem] leading-[26px] text-[#FBFFED] font-semibold"
              >
                {{ experience.company }}
              </h6>

              <div
                class="block transition-all duration-300 ease-out content-[''] w-[35px] h-[35px] -right-[70px] z-[99] top-1/2 -translate-y-1/2 text-[#242423] absolute group-hover:text-[#F72C5B]"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="33"
                  height="34"
                  viewBox="0 0 33 34"
                  fill="none"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M16.5 34C16.467 24.6227 9.09241 17.0315 0 17.0315C9.11269 17.0315 16.5 9.40615 16.5 0C16.5329 9.37729 23.9076 16.9685 33 16.9685C23.8872 16.9685 16.5 24.5939 16.5 34Z"
                    fill="currentColor"
                  ></path>
                </svg>
              </div>
            </div>
            <div
              id="content"
              class="flex-[0.9_1_0%] relative rounded-[12px] bg-[#141413] transition-all duration-300 ease-out p-[32px]"
            >
              <div
                class="gap-[16px] z-[2] flex items-center justify-between relative"
              >
                <div
                  class="flex items-center justify-between min-w-[500px] mb-0"
                >
                  <div>
                    <h4 class="text-[#FBFFED] text-[1.525rem] font-bold">
                      {{ experience.title }}
                    </h4>
                  </div>
                  <div class="max-w-[550px]">
                    <p class="mb-0 text-[rgb(159,_160,_166)] text-[1.125rem] line-clamp-2">
                      {{ experience.description }}
                    </p>
                  </div>
                </div>
                <app-button
                  className="!p-0 !w-12 !h-12 !rounded-full group-hover:-rotate-45"
                >
                  <svg
                    class="svg-inline--fa fa-arrow-right-long text-[#F72C5B] text-[18px] transition-all duration-300 ease-out group-hover:text-white"
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="arrow-right-long"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    data-fa-i2svg=""
                  >
                    <path
                      fill="currentColor"
                      d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l370.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128z"
                    ></path>
                  </svg>
                </app-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
