@keyframes left-right {
    0% {
    transform: translateX(30px);
    }

    100% {
        transform: translateX(0px);
    }
}

.footer-shape span {
    animation: left-right 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate;
}