<footer class="overflow-hidden relative bg-[#0A0A09]">
  <div class="z-10 relative">
    <div class="max-w-[1170px] w-full px-3 mx-auto">
      <div class="flex justify-between text-[1rem] py-[25px] relative">
        <div class="inline-flex items-center">
          <p class="mb-0 text-[rgb(159,_160,_166)] text-[16px]">
            Copyright © 2025 designed by
            <a
              href="https://github.com/supercoderl"
              target="_blank"
              class="text-[#F72C5B] font-semibold transition-all duration-300 ease-out"
              >Supercoderle</a
            >
          </p>
        </div>
        <div>
          <ul class="flex gap-y-[5px] gap-x-5 flex-wrap">
            <li>
              <a href="#" class="text-[#9FA0A6] transition-all duration-300 ease-out">Terms &amp; Conditions</a>
            </li>
            <li>
              <a href="#" class="text-[#9FA0A6] transition-all duration-300 ease-out">Privacy Policy</a>
            </li>
            <li>
              <a href="contact.html" class="text-[#9FA0A6] transition-all duration-300 ease-out">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-shape">
    <span class="right-[5%] top-[17%] w-auto max-w-[60px] absolute"
      ><img src="https://thetork.com/demos/html/torkfolio/assets/images/footer/1.png" alt="shape icon"
    /></span>
  </div>
</footer>
