<section
  id="study"
  class="bg-[rgb(18,_18,_17)] py-[50px] md:py-[90px] overflow-hidden relative"
>
  <div class="md:max-w-[1170px] px-3 mx-auto w-full">
    <div class="flex flex-wrap -mt-6 -mx-3">
      <div class="md:flex-[0_0_auto] md:w-[41.66666667%] px-3">
        <div>
          <div class="pb-12">
            <div
              class="text-[1.25rem] font-medium text-[#56DFCF] mb-2.5 flex items-center"
            >
              <span class="mr-2 max-w-[32px]">
                <img
                  src="../../../../assets/images/labels/star.png"
                  alt="star icon"
              /></span>
              Explore
            </div>
            <h2
              class="mb-5 text-capitalize text-[#FBFFED] text-[1.5rem] md:text-[2.75rem] font-semibold"
            >
              Explore My Latest
              <span class="text-[#F72C5B]">Projects</span>
            </h2>
            <p class="mt-5 mb-0 text-[rgb(159,_160,_166)] text-[1.125rem]">
              Delivering clean, maintainable code through real projects. Each
              app is built for performance, usability, and scale.
            </p>
          </div>

          <div
            class="w-fit h-fit rounded-full p-2 gap-[24px] flex items-center bg-[rgb(36,_36,_35)]"
          >
            <app-button
              tabindex="0"
              className="!p-0 !w-12 !h-12 !rounded-full"
              (click)="owlCar.prev()"
            >
              <svg
                class="svg-inline--fa fa-arrow-left-long text-white group-hover:text-black"
                aria-hidden="true"
                focusable="false"
                data-prefix="fas"
                data-icon="arrow-left-long"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
                data-fa-i2svg=""
              >
                <path
                  fill="currentColor"
                  d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 288 480 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-370.7 0 73.4-73.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-128 128z"
                ></path>
              </svg>
            </app-button>
            <app-button
              tabindex="0"
              className="!p-0 !w-12 !h-12 !rounded-full"
              (clicked)="owlCar.next()"
            >
              <svg
                class="svg-inline--fa fa-arrow-right-long"
                aria-hidden="true"
                focusable="false"
                data-prefix="fas"
                data-icon="arrow-right-long"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
                data-fa-i2svg=""
              >
                <path
                  fill="currentColor"
                  d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l370.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128z"
                ></path>
              </svg>
            </app-button>
          </div>
        </div>
      </div>
      <div class="md:flex-[0_0_auto] w-full md:w-[58.33333333%] px-3 mt-6 md:m-0">
        <div class="mx-auto relative overflow-hidden p-0">
          <owl-carousel-o
            *ngIf="projects.length > 0"
            [options]="customOptions"
            #owlCar
          >
            <ng-template carouselSlide *ngFor="let project of projects">
              <div class="carousel-item">
                <div>
                  <div
                    class="item transition-all duration-300 ease-out rounded-[16px] overflow-hidden"
                  >
                    <div
                      class="rounded-[8px] h-[300px] overflow-hidden relative group"
                    >
                      <img
                        src="{{ project.imageUrl }}"
                        alt="Case Studies Images"
                        class="transition-all duration-300 ease-out w-full h-full object-cover object-center"
                      />

                      <!-- Overlay -->
                      <div
                        class="absolute inset-0 after:opacity-50 after:content-[''] after:top-0 after:left-0 after:h-full after:w-full after:transition-all after:duration-300 after:ease-out after:absolute group-hover:after:bg-gray-800"
                      ></div>

                      <div
                        class="absolute top-1/2 -translate-y-1/2 left-0 gap-x-3 w-full flex justify-center overflow-hidden transition-all duration-500 ease-out"
                      >
                        <a
                          href="{{ project.githubUrl }}"
                          target="_blank"
                          class="bg-[#4B5563] text-white text-[16px] py-[15px] px-[30px] cursor-pointer rounded-[8px] transition-all duration-500 ease-out transform translate-y-full group-hover:translate-y-0"
                          *ngIf="!project.liveDemoUrl"
                        >
                          View Project
                        </a>
                        <a
                          href="{{ project.liveDemoUrl }}"
                          target="_blank"
                          class="bg-[#4B5563] text-black text-[16px] p-3 cursor-pointer rounded-[8px] transition-all duration-500 ease-out transform translate-y-full group-hover:translate-y-0"
                          *ngIf="project.liveDemoUrl"
                        >
                          <svg
                            fill="#fff"
                            class="w-7 h-7 text-white"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M21.92,11.6C19.9,6.91,16.1,4,12,4S4.1,6.91,2.08,11.6a1,1,0,0,0,0,.8C4.1,17.09,7.9,20,12,20s7.9-2.91,9.92-7.6A1,1,0,0,0,21.92,11.6ZM12,18c-3.17,0-6.17-2.29-7.9-6C5.83,8.29,8.83,6,12,6s6.17,2.29,7.9,6C18.17,15.71,15.17,18,12,18ZM12,8a4,4,0,1,0,4,4A4,4,0,0,0,12,8Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,12,14Z"
                            />
                          </svg>
                        </a>
                        <a
                          href="{{ project.githubUrl }}"
                          target="_blank"
                          class="bg-[#4B5563] text-black text-[16px] p-3 cursor-pointer rounded-[8px] transition-all duration-500 ease-out transform translate-y-full group-hover:translate-y-0"
                          *ngIf="project.liveDemoUrl"
                        >
                          <svg
                            fill="#fff"
                            class="w-7 h-7"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                            data-name="Layer 1"
                          >
                            <path
                              d="M12,2.2467A10.00042,10.00042,0,0,0,8.83752,21.73419c.5.08752.6875-.21247.6875-.475,0-.23749-.01251-1.025-.01251-1.86249C7,19.85919,6.35,18.78423,6.15,18.22173A3.636,3.636,0,0,0,5.125,16.8092c-.35-.1875-.85-.65-.01251-.66248A2.00117,2.00117,0,0,1,6.65,17.17169a2.13742,2.13742,0,0,0,2.91248.825A2.10376,2.10376,0,0,1,10.2,16.65923c-2.225-.25-4.55-1.11254-4.55-4.9375a3.89187,3.89187,0,0,1,1.025-2.6875,3.59373,3.59373,0,0,1,.1-2.65s.83747-.26251,2.75,1.025a9.42747,9.42747,0,0,1,5,0c1.91248-1.3,2.75-1.025,2.75-1.025a3.59323,3.59323,0,0,1,.1,2.65,3.869,3.869,0,0,1,1.025,2.6875c0,3.83747-2.33752,4.6875-4.5625,4.9375a2.36814,2.36814,0,0,1,.675,1.85c0,1.33752-.01251,2.41248-.01251,2.75,0,.26251.1875.575.6875.475A10.0053,10.0053,0,0,0,12,2.2467Z"
                            />
                          </svg>
                        </a>
                      </div>
                    </div>
                    <div class="mt-6">
                      <div>
                        <span
                          class="text-[#56DFCF] text-capitalize text-[0.875rem] mb-2 rounded-[8px] font-semibold"
                          >{{ project.category }}</span
                        >
                      </div>
                      <h4
                        class="transition-all duration-300 ease-out overflow-hidden font-semibold text-[#FBFFED] mb-2 text-[23.1627px]"
                      >
                        <a href="project-details.html">{{ project.title }}</a>
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
  <div
    class="absolute -bottom-[10px] -left-[10px] w-[390px] h-[390px] bg-[rgba(196,_239,_23,_0.2)] blur-[100px] -z-[1] rounded-[50%]"
  ></div>
</section>
