<div
  id="contact"
  class="py-[90px] bg-[100px_100px] w-full h-full overflow-hidden relative"
>
  <div class="max-w-[1080px] w-full px-3 mx-auto">
    <div class="z-[2] relative">
      <div class="grid grid-cols-2 -mx-6 -mt-12 gap-6">
        <div>
          <div class="pb-12">
            <div
              class="text-[1.25rem] font-semibold text-[#56DFCF] mb-2.5 flex items-center"
            >
              <span class="mr-2 max-w-[32px]">
                <img
                  src="../../../../assets/images/labels/star.png"
                  alt="star icon"
                />
              </span>
              Contact Me
            </div>
            <h2 class="mb-5 text-capitalize text-[#FBFFED] text-[3rem] font-semibold">
              Let's <span class="text-[#F72C5B]">Talk</span>
            </h2>
            <p class="mb-0 mt-5 text-[rgb(159,_160,_166)] text-[1.125rem]">
              Building the blueprint for success is a crucial step in any
              project. It involves meticulously planning.
            </p>
          </div>
          <div>
            <div>
              <div>
                <a
                  href="tel:+934714523"
                  class="text-[20px] font-bold text-[#FBFFED] inline"
                >
                  <span class="mr-3 inline">
                    <img
                      src="https://thetork.com/demos/html/torkfolio/assets/images/icon/whatsapp.svg"
                      alt="whats app icon"
                      class="inline"
                    />
                  </span>
                  (+84) 349 337 045
                </a>
              </div>
            </div>
            <div class="mt-[55px] mb-[60px]">
              <h5 class="mb-[25px] text-[#FBFFED]">Follow Me</h5>
              <ul
                class="gap-[16px] bg-[#242423] w-fit p-2 rounded-full flex items-center flex-wrap"
              >
                <li>
                  <app-button
                    href="https://www.facebook.com/quangm4"
                    target="_blank"
                    className="!rounded-full !p-0 !w-9 !h-9"
                  >
                    <svg
                      class="svg-inline--fa fa-facebook-f"
                      aria-hidden="true"
                      focusable="false"
                      data-prefix="fab"
                      data-icon="facebook-f"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 320 512"
                      data-fa-i2svg=""
                    >
                      <path
                        fill="currentColor"
                        d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
                      ></path>
                    </svg>
                  </app-button>
                </li>
                <li>
                  <app-button
                    href="https://www.instagram.com/amumu_bot"
                    target="_blank"
                    className="!rounded-full !p-0 !w-9 !h-9"
                  >
                    <svg
                      class="svg-inline--fa fa-instagram"
                      aria-hidden="true"
                      focusable="false"
                      data-prefix="fab"
                      data-icon="instagram"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 448 512"
                      data-fa-i2svg=""
                    >
                      <path
                        fill="currentColor"
                        d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                      ></path>
                    </svg>
                  </app-button>
                </li>
                <li>
                  <app-button
                    href="https://www.linkedin.com/in/supercoderle"
                    target="_blank"
                    className="!rounded-full !p-0 !w-9 !h-9"
                  >
                    <svg
                      class="svg-inline--fa fa-linkedin-in"
                      aria-hidden="true"
                      focusable="false"
                      data-prefix="fab"
                      data-icon="linkedin-in"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 448 512"
                      data-fa-i2svg=""
                    >
                      <path
                        fill="currentColor"
                        d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"
                      ></path>
                    </svg>
                  </app-button>
                </li>
                <li>
                  <app-button
                    href="https://www.youtube.com/@supercoderle"
                    target="_blank"
                    className="!rounded-full !p-0 !w-9 !h-9"
                  >
                    <svg
                      class="svg-inline--fa fa-youtube"
                      aria-hidden="true"
                      focusable="false"
                      data-prefix="fab"
                      data-icon="youtube"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 576 512"
                      data-fa-i2svg=""
                    >
                      <path
                        fill="currentColor"
                        d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"
                      ></path>
                    </svg>
                  </app-button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div>
          <div
            id="form-container"
            class="rounded-[1rem] p-8 bg-[#141413] relative"
          >
            <form action="/" class="z-[2] relative">
              <div class="flex -mx-3 -mt-6 flex-wrap">
                <div class="mt-6 px-3 w-full">
                  <div>
                    <label
                      for="name"
                      class="text-[1.125rem] text-[#FBFFED] mb-2 font-medium inline-block"
                      >Name</label
                    >
                    <input
                      class="py-4 px-5 bg-[#141413] text-[#adb5bd] outline-none border border-solid border-[#DCDFE833] rounded-[8px] block w-full text-[1rem] leading-[1.5] transition-all duration-150"
                      type="text"
                      id="name"
                      placeholder="Full Name"
                      aria-autocomplete="none"
                    />
                  </div>
                </div>
                <div class="mt-6 px-3 w-full">
                  <div>
                    <label
                      for="email"
                      class="text-[1.125rem] text-[#FBFFED] mb-2 font-medium inline-block"
                      >Email</label
                    >
                    <input
                      class="py-4 px-5 bg-[#141413] text-[#adb5bd] outline-none border border-solid border-[#DCDFE833] rounded-[8px] block w-full text-[1rem] leading-[1.5] transition-all duration-150"
                      type="email"
                      id="email"
                      placeholder="Email here"
                      aria-autocomplete="none"
                    />
                  </div>
                </div>
                <div class="mt-6 px-3 w-full">
                  <div>
                    <label
                      for="textarea"
                      class="text-[1.125rem] text-[#FBFFED] mb-2 font-medium inline-block"
                      >Message</label
                    >
                    <textarea
                      cols="20"
                      rows="2"
                      class="min-h-[120px] py-4 px-5 bg-[#141413] text-[#adb5bd] outline-none border border-solid border-[#DCDFE833] rounded-[8px] block w-full text-[1rem] leading-[1.5] transition-all duration-150"
                      id="textarea"
                      placeholder="Enter Your Message"
                      aria-autocomplete="none"
                      autocomplete="off"
                    ></textarea>
                  </div>
                </div>
              </div>
              <app-button
                className="mt-12 !w-full !transform !transition-transform !hover:scale-0"
              >
                Contact Me
              </app-button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <span class="hidden"
      ><img
        src="assets/images/icon/shape/sixline-asterisk.svg"
        alt="asterisk icon"
    /></span>
    <span class="bottom-[10%] left-[10%] contact-shape absolute">
      <img
        src="https://thetork.com/demos/html/torkfolio/assets/images/icon/shape/lefttorightarrow-lg.svg"
        alt="arrow icon"
        class="w-[200px]"
    /></span>
  </div>

  <div
    class="-bottom-[10%] -left-[10%] w-[390px] h-[390px] rounded-full bg-[rgba(196,_239,_23,_0.2)] blur-[100px] absolute"
  ></div>
  <div
    class="w-[500px] h-[500px] top-[calc(50%_-_250px)] -right-[15%] rounded-full bg-[rgba(196,_239,_23,_0.2)] blur-[100px] absolute"
  ></div>
</div>
