<section id="blog" class="py-[90px] bg-[#141413] overflow-hidden relative">
  <div class="max-w-[1170px] w-full px-3 mx-auto">
    <div class="pb-[45px] flex items-center justify-between">
      <div>
        <div
          class="text-[1.125rem] font-medium text-[#56DFCF] mb-2.5 flex items-center"
        >
          <span class="mr-2 max-w-[32px]">
            <img
              src="../../../../assets/images/labels/star.png"
              alt="star icon"
          /></span>
          My Blog
        </div>
        <h2 class="mb-5 text-white text-[3rem] font-semibold">
          Latest From <span class="text-[#F72C5B]">Blog</span>
        </h2>
      </div>
      <div>
        <app-button className="!rounded-full"> View all </app-button>
      </div>
    </div>
    <div class="z-[2] relative">
      <div class="grid grid-cols-3 justify-center gap-7 -mx-3">
        <div *ngFor="let blog of blogs">
          <div class="group">
            <div
              class="transition-all duration-300 ease-out rounded-[16px] overflow-hidden"
            >
              <div class="flex items-center justify-center rounded-[8px] overflow-hidden relative min-h-[200px] max-h-[200px]">
                <img
                  src={{blog.coverImage}}
                  alt="blog Images"
                  class="transition-all duration-300 ease-out w-full group-hover:scale-[1.05] brightness-[80%]"
                />
                <span
                  class="bg-[#F6F6F8] rounded-[4px] text-[#0A0A09] py-[5px] px-3 bottom-[1rem] right-[1rem] absolute"
                >
                  June 22, 2025
                </span>
              </div>

              <div>
                <div class="py-[15px]">
                  <span
                    class="text-[#56DFCF] text-[0.875rem] text-capitalize font-semibold inline-block"
                    >{{blog.tags.join(', ')}}</span
                  >
                </div>
                <h4
                  class="transition-all duration-300 ease-out line-clamp-2 font-semibold text-[23.1627px] text-white group-hover:text-[#F72C5B] group-hover:underline group-hover:decoration-solid group-hover:decoration-[#F72C5B]"
                >
                  <a href="blog-details.html">
                    {{blog.title}}
                  </a>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay overlay--top-right"></div>
</section>
