<section
  id="about"
  class="bg-[hsl(60,_2%,_7%)] py-[50px] md:py-[90px] relative overflow-hidden"
  style="
    background: radial-gradient(
        at 0% 48%,
        hsl(72, 34%, 11%) 0px,
        transparent 50%
      ),
      radial-gradient(at 99% 43%, hsl(72, 34%, 11%) 0px, transparent 50%);
  "
>
  <div class="md:max-w-[1080px] w-full px-3 mx-auto">
    <div>
      <div class="flex items-center -mt-6 md:-mx-3 flex-wrap">
        <div
          class="md:border w-full rounded-[10px] bg-[#141413] py-12 md:px-6 md:p-12 z-[100] relative after:content-[''] after:absolute after:inset-0 after:p-[1px] after:rounded-[10px]"
        >
          <div class="pb-12">
            <div
              class="flex items-center text-[1.25rem] font-medium text-[#56DFCF] mb-2.5"
            >
              <span class="mr-2 max-w-[32px]">
                <img
                  src="../../../../assets/images/labels/star.png"
                  alt="star icon"
                />
              </span>
              About Me
            </div>
            <h2
              class="mb-5 text-capitalize text-[#FBFFED] text-[1.5rem] md:text-[2.75rem] font-semibold"
            >
              <span class="text-[#F72C5B]">Software</span> Development Process
            </h2>
            <p class="mb-0 mt-5 text-[rgb(159,_160,_166)] text-[1.125rem]">
              Although I’m new to the industry, I’ve spent the last few years
              sharpening my skills through personal projects, internships, and
              open-source contributions. I’m ready to take on real software
              development challenges.
            </p>
          </div>

          <div class="flex flex-wrap gap-[1.5rem]">
            <div class="flex gap-[1rem] items-center flex-wrap relative">
              <div
                class="grid w-[48px] h-[48px] rounded-full bg-[#242423] place-items-center"
              >
                <img
                  src="../../../../assets/images/labels/email.webp"
                  alt="email icon"
                />
              </div>
              <div>
                <p class="mb-[5px] text-[rgb(159,_160,_166)]">Email</p>
                <h6 class="text-[1.125rem] leading-[26px] text-white">
                  <a
                    href="mailto:minh.quang1720@gmail.com"
                    class="text-inherit stretched-link"
                    >minh.quang1720&#64;gmail.com</a
                  >
                </h6>
              </div>
            </div>
            <div class="flex gap-[1rem] items-center flex-wrap relative">
              <div
                class="w-[48px] h-[48px] rounded-full bg-[#242423] grid place-items-center"
              >
                <img
                  src="../../../../assets/images/labels/phone.webp"
                  alt="phone icon"
                />
              </div>
              <div class="">
                <p class="mb-[5px] text-[rgb(159,_160,_166)]">Phone</p>
                <h6 class="text-[1.125rem] leading-[26px] text-white">
                  <a
                    href="tel:+84349337045"
                    class="text-inherit stretched-link"
                  >
                    +84 349 337 045
                  </a>
                </h6>
              </div>
            </div>
          </div>
          <div
            class="gap-[32px] mt-[65px] flex items-center flex-wrap relative z-[100]"
          >
            <app-button href="#contact"> Let's work </app-button>
            <app-button
              target="_blank"
              href="https://api.cloudinary.com/v1_1/dcystvroz/image/download?api_key=875634626594439&attachment=true&audit_context=eyJhY3Rvcl90eXBlIjoidXNlciIsImFjdG9yX2lkIjoiZDNlZTM5YmU5ZWUzYzk3N2U5NThhOTM1YTdhYzY5NWUiLCJ1c2VyX2V4dGVybmFsX2lkIjoiODIxOGVkMTQ0ZWE0ZjkxMTFkYWNjNTcyM2RjZjUyIiwidXNlcl9jdXN0b21faWQiOiJtaW5ocXVhbmcuMTcyMEBnbWFpbC5jb20iLCJjb21wb25lbnQiOiJjb25zb2xlIn0%3D&public_id=cv&signature=423b177d252a95ece5dde6b0717b18637a7ca135&source=ml&target_filename=cv&timestamp=1753426139&type=upload"
            >
              Download CV
              <span class="group-hover:text-black">
                <svg
                  class="svg-inline--fa fa-download ml-2"
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="download"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  data-fa-i2svg=""
                >
                  <path
                    fill="currentColor"
                    d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"
                  ></path>
                </svg>
              </span>
            </app-button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <span
      class="hidden md:block top-[10px] right-[30px] opacity-60 rotate absolute z-[9]"
    >
      <img
        src="../../../../assets/images/brands/blossom.png"
        alt="shape icon"
        class="w-[40px] h-auto"
    /></span>
  </div>
</section>
